services:
  postgres:
    image: postgres:16-alpine
    container_name: qual_a_boa_events_db
    environment:
      POSTGRES_USER: adonis
      POSTGRES_PASSWORD: password
      POSTGRES_DB: qual_a_boa_events_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: